---

---

<footer class="footer">
  <div class="container mx-auto">
    <div class="footer__firstBox">
      <div class="footer__sectionContainer">
        <section>
          <h3>Compania</h3>
          <a href="#">Sobre nosotros</a>
          <a href="#">Transacciones</a>
          <a href="#">Estadisticas</a>
          <a href="#">Contactanos</a>
        </section>
        <section>
          <h3>Compania</h3>
          <a href="#">Sobre nosotros</a>
          <a href="#">Transacciones</a>
          <a href="#">Estadisticas</a>
          <a href="#">Contactanos</a>
        </section>
        <section>
          <h3>Compania</h3>
          <a href="#">Sobre nosotros</a>
          <a href="#">Transacciones</a>
          <a href="#">Estadisticas</a>
          <a href="#">Contactanos</a>
        </section>
      </div>
    </div>
  </div>
</footer>
