---
export interface ChildNavigationLink {
  name: string;
  url: string;
}

export interface NavigationLink {
  name: string;
  url: string;
  hasChildren?: boolean;
  children?: ChildNavigationLink[];
}
---

<nav class="navbar shadow">
  <!-- logo -->
  <div class="order-0">
    <img src="/svg/logo.svg" class="w-56 h-12 md:w-80 md:h-14" />
  </div>
  <!-- navbar toggler -->
  <input id="nav-toggle" type="checkbox" class="hidden" />
  <label
    id="show-button"
    for="nav-toggle"
    class="order-2 flex cursor-pointer items-center text-gray-400 md:order-1 md:hidden"
  >
    <svg class="h-6 fill-current" viewBox="0 0 20 20">
      <title>Abrir Menu</title>
      <path d="M0 3h20v2H0V3z m0 6h20v2H0V9z m0 6h20v2H0V0z"></path>
    </svg>
  </label>
  <label
    id="hide-button"
    for="nav-toggle"
    class="order-2 hidden cursor-pointer items-center text-gray-400 md:order-1"
  >
    <svg class="h-6 fill-current" viewBox="0 0 20 20">
      <title>Cerrar Menu</title>
      <polygon
        points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2"
        transform="rotate(45 10 10)"></polygon>
    </svg>
  </label>
  <!-- /navbar toggler -->

  <ul
    id="nav-menu"
    class="navbar-nav order-3 hidden w-full md:order-1 md:flex md:w-auto"
  >
    <li class="nav-item">
      <a href={"/"} class="nav-link block"> Inicio</a>
    </li>
    <li id="link-login" class="nav-item hidden">
      <a href={"/login"} class="nav-link block"> Ingresar</a>
    </li>
    <li id="link-register" class="nav-item hidden">
      <a href={"/register"} class="nav-link block"> Registrarse</a>
    </li>
    <li id="link-demo" class="nav-item-button">
      <a href={"/transactions"} class="nav-link-button"> ¡Pruebalo Ahora!</a>
    </li>
  </ul>
</nav>

<!-- <script>
  import { STORAGE_KEY_LOGIN, userInfo } from "@/store";
  import { loadFromStorage } from "@/utils/localStorage";

  const user = loadFromStorage(STORAGE_KEY_LOGIN);

  userInfo.set(user);

  const login = document.getElementById("link-login");
  const register = document.getElementById("link-register");
  const demo = document.getElementById("link-demo");

  userInfo.subscribe((sesion) => {
    if (sesion.sesion) {
      if (login) {
        login.style.display = "none";
      }
      if (register) {
        register.style.display = "none";
      }
      if (demo) {
        const element = demo.querySelector("a");
        if (element) {
          element.textContent = "¡Ir a la App!";
        }
      }
    } else {
      if (login) {
        login.style.display = "block";
      }
      if (register) {
        register.style.display = "block";
      }
      if (demo) {
        const element = demo.querySelector("a");
        if (element) {
          element.textContent = "¡Pruebalo Ahora!";
        }
      }
    }
  });
</script> -->
