---
// import Logo from "@layouts/components/Logo.astro";
// import menu from '@/config/menu.json';
// import { IoSearch } from 'react-icons/io5';

export interface ChildNavigationLink {
  name: string;
  url: string;
}

export interface NavigationLink {
  name: string;
  url: string;
  hasChildren?: boolean;
  children?: ChildNavigationLink[];
}
---

<header class="header pt-3 shadow-lg bg-white">
  <nav class="navbar px-4 md:px-8">
    <!-- logo -->
    <div class="order-0">
      <img src="/svg/logo.svg" width="200px" height="28px" />
    </div>
    <!-- navbar toggler -->
    <input id="nav-toggle" type="checkbox" class="hidden" />
    <label
      id="show-button"
      for="nav-toggle"
      class="order-2 flex cursor-pointer items-center text-gray-400 md:order-1 md:hidden"
    >
      <svg class="h-6 fill-current" viewBox="0 0 20 20">
        <title>Abrir Menu</title>
        <path d="M0 3h20v2H0V3z m0 6h20v2H0V9z m0 6h20v2H0V0z"></path>
      </svg>
    </label>
    <label
      id="hide-button"
      for="nav-toggle"
      class="order-2 hidden cursor-pointer items-center text-gray-400 md:order-1"
    >
      <svg class="h-6 fill-current" viewBox="0 0 20 20">
        <title>Cerrar Menu</title>
        <polygon
          points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2"
          transform="rotate(45 10 10)"></polygon>
      </svg>
    </label>
    <!-- /navbar toggler -->

    <ul id="nav-menu" class="navbar-nav hidden w-full md:flex md:w-auto">
      <li class="nav-item">
        <a href={"/home"} class="nav-link block"> Inicio</a>
      </li>
      <li class="nav-item">
        <a href={"/transactions"} class="nav-link block"> Transacciones</a>
      </li>
      <li class="nav-item">
        <a href={"/statistics"} class="nav-link block"> Estadisticas</a>
      </li>
    </ul>

    <div>
      <input
        type="date"
        class="border-secondary text-secondary rounded-lg border-2 px-4 bg-white outline-none"
      />
    </div>
  </nav>
</header>
