---
import { AiOutlineAppstore } from "react-icons/ai";
import { LuPieChart, LuBook } from "react-icons/lu";
import { CgProfile } from "react-icons/cg";
import { MdLogout } from "react-icons/md";
---

<nav class="sidebar">
  <div class="sidebar-profile gap-2">
    <!-- <figure>
      <img
        src="https://notjustdev-dummy.s3.us-east-2.amazonaws.com/avatars/6.png"
      />
    </figure> -->
    <div class="bg-secondary-300 p-5 border-secondary rounded-md">
      <span class="text-white text-4xl">AF</span>
    </div>
    <span> Bienvenida Andrea!</span>
  </div>
  <ul class="sidebar-links">
    <li>
      <a href="/" class="text-white"
        ><AiOutlineAppstore size={30} /> Registrar</a
      >
    </li>
    <li>
      <a href="/" class="text-white"> <LuBook size={28} /> Transacciones</a>
    </li>
    <li>
      <a href="/" class="text-white"> <LuPieChart size={28} /> Reportes</a>
    </li>
    <li>
      <a href="/" class="text-white"> <CgProfile size={28} /> Account</a>
    </li>
    <li>
      <a href="/">
        <MdLogout size={28} />Logout
      </a>
    </li>
  </ul>
</nav>
