.footer {
	background-color: hsl(var(--myapp-black));
	font-size: calc(0.8rem + 0.5vw);
	padding: 4.8rem 1.6rem 1.6rem;

	&__sectionContainer {
		justify-items: center;
		gap: 1.6rem;
		width: 100%;

		section {
			width: 100%;
			display: flex;
			gap: 0.2rem;

			&:nth-child(2) {
				@media screen and (min-width: 640px) {
					margin-left: 50%;
				}
			}
			h3 {
				font-weight: 600;
				font-size: calc(1.2rem + 1vw);
			}
		}
	}

	&__social {
		display: flex;
		justify-content: space-between;
		gap: 0.8rem;
		a:link,
		a:visited {
			padding: 0.6rem;
			background-color: hsl(var(--myapp-black-600));
			border-radius: 100px;
		}
		a:hover,
		a:focus {
		}

		svg {
			width: 1.2rem;
			height: 1.2rem;
			fill: hsl(var(--myapp-foreground));
		}
	}
	&__copy {
		text-align: end;
	}
}
