// navbar toggler
input#nav-toggle:checked ~ label#show-button {
  @apply hidden;
}

input#nav-toggle:checked ~ label#hide-button {
  @apply flex md:hidden;
}

input#nav-toggle:checked ~ #nav-menu {
  @apply block md:flex;
}

// navbar items
.navbar {
  @apply relative flex  flex-wrap items-center justify-between;
}

.navbar-brand img {
  @apply h-auto max-w-[170px] sm:h-auto sm:max-w-full #{!important};
}

.navbar-nav {
  @apply text-center md:text-left;
}

.nav-item {
  @apply mx-1;
}
.nav-item-button {
  @apply ml-1 mr-4 mb-2 md:mb-0 flex items-center justify-center;
}

.nav-link {
  @apply p-3 text-lg font-semibold text-gray-400 transition hover:text-primary md:p-1 lg:p-4;
}
.nav-link::after {
  content: '**';
  color: transparent;
  @apply decoration-secondary;
}

.nav-link:hover {
  @apply text-secondary decoration-secondary;
  text-decoration: underline 2.5px;
  text-underline-offset: 8px;
}

.nav-link-button {
  @apply bg-secondary text-white px-4 py-2 rounded-md font-bold hover:bg-secondary-800 w-44 text-center;
}

.nav-dropdown-list {
  @apply z-10 rounded-lg bg-white px-6 py-3 shadow transition;
}

.nav-dropdown-item {
  @apply mb-1;
}

.nav-dropdown-link {
  @apply block min-w-[150px] py-1 text-[17px] font-semibold text-gray-400 transition hover:text-primary;
}

// search style
.search-modal {
  @apply invisible absolute top-0 left-0 right-0 z-10 h-10 bg-white opacity-0 transition md:h-full;
  .form-input {
    @apply h-full w-full border-0 text-lg;
  }
  .search-close {
    @apply absolute top-1/2 right-2 -translate-y-1/2 p-3;
  }
  &.open {
    @apply visible opacity-100;
  }
}
// Sidebar styles

.sidebar-hidden {
  @apply hidden;
}

.sidebar-show {
  @apply fixed;
  z-index: 1000;
}

.sidebar-profile {
  @apply flex flex-col items-center justify-center py-12;

  figure {
    @apply flex w-24 h-24;

    img {
      @apply w-full h-full border-4 rounded-md border-secondary;
    }
  }
}

.sidebar-links {
  @apply flex flex-col gap-6 flex-1;

  li a {
    @apply flex items-center gap-4   text-white hover:text-secondary;
  }
}

.sidebar {
  @apply flex-col justify-between gap-6 sticky top-0 left-0 min-h-screen p-8  md:flex bg-gradient-to-b from-primary  to-secondary filter brightness-125;
  position: fixed;
  z-index: 10;
  transition: all 0.5s;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar::-webkit-scrollbar {
  @apply bg-secondary;
  width: 0.5em;
}

.sidebar::-webkit-scrollbar-thumb {
  @apply bg-primary;
  border-radius: 4px;
}

.sidebar-show {
  @apply w-56;
  z-index: 900;
  transition: all 0.3s;
}
.sidebar-hidden {
  @apply w-0 md:w-56;
  z-index: 900;
  transition: all 0.3s ease;
  animation-name: appear;
  animation-duration: 0.3s;
}
@keyframes appear {
  from {
    filter: brightness(1.1);
  }
  to {
    filter: brightness(1);
  }
}

.bar-button {
  position: fixed;
  top: 8px;
  left: 8px;
  font-weight: 900;
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
  z-index: 10000;
}
.bar-button-visible {
  opacity: 1;
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
}

.bar-button-hidden {
  animation-name: move;
  animation-duration: 0.3s;
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}

@keyframes move {
  from {
    transform: rotate(0deg);
    opacity: 0.5;
  }
  to {
    transform: rotate(180deg);
    opacity: 1;
  }
}
