navbar toggler input#nav-toggle:checked ~ label#show-button {
  @apply hidden;
}

input#nav-toggle:checked ~ label#hide-button {
  @apply flex md:hidden;
}

input#nav-toggle:checked ~ #nav-menu {
  @apply block md:flex;
}

// navbar items
.navbar {
  @apply relative flex  h-20 flex-wrap items-center justify-between;
}

.navbar-brand img {
  @apply h-auto max-w-[170px] sm:h-auto sm:max-w-full #{!important};
}

.navbar-nav {
  @apply text-center md:text-left pl-5 flex-1;
}

.nav-item {
  @apply mx-2;
}

.nav-link {
  @apply p-3  font-semibold text-base text-xl transition  md:p-4;
}

.nav-link::after {
  content: '**';
  color: transparent;
  @apply decoration-secondary;
}

.nav-link:hover {
  @apply text-secondary decoration-secondary;
  text-decoration: underline 2.5px;
  text-underline-offset: 8px;
}

.nav-dropdown-list {
  @apply z-10 rounded-lg bg-white px-6 py-3 shadow transition;
}

.nav-dropdown-item {
  @apply mb-1;
}

.nav-dropdown-link {
  @apply block min-w-[150px] py-1 text-[17px] font-semibold text-gray-400 transition hover:text-secondary;
}

// search style
.search-modal {
  @apply invisible absolute top-0 left-0 right-0 z-10 h-10 bg-white opacity-0 transition md:h-full;
  .form-input {
    @apply h-full w-full border-0 text-lg;
  }
  .search-close {
    @apply absolute top-1/2 right-2 -translate-y-1/2 p-3;
  }
  &.open {
    @apply visible opacity-100;
  }
}

// Sidebar styles
.sidebar {
  @apply flex-col justify-between w-56 gap-6 h-full p-8 hidden md:flex bg-gradient-to-b from-primary  to-secondary filter brightness-125;
}

.sidebar-profile {
  @apply flex flex-col items-center justify-center py-12;

  figure {
    @apply flex w-24 h-24;

    img {
      @apply w-full h-full border-4 rounded-md border-secondary;
    }
  }
}

.sidebar-links {
  @apply flex flex-col gap-6 flex-1;

  li a {
    @apply flex items-center gap-4   text-white hover:text-secondary;
  }
}
