---
import Layout from "../../layouts/Base.astro";
---

<Layout title="404 NOT FOUND">
  <main class="flex flex-col items-center justify-center">
    <img
      src="./src/assets/LogoH.png"
      width="631"
      height="379"
      alt="404-not-found"
    />
    <img
      src="./src/assets/error-404.jpg"
      width="631"
      height="379"
      alt="404-not-found"
    />

    <a
      href="/"
      class="bg-secondary-500 hover:bg-secondary-700 px-4 py-2 border rounded-full text-sm mt-6"
    >
      Volver al inicio
    </a>
  </main>
</Layout>
