---
import Layout from "../../layouts/Base.astro";
---

<Layout title="404 NOT FOUND">
  <main class="flex justify-center items-center h-screen bg-gray-200">
    <div class="text-center">
      <h1 class="text-4xl font-medium">404</h1>
      <p class="text-xl font-medium">Página no encontrada</p>
      <a href="/" class="bg-blue-500 hover:bg-blue-600"> Ir a inicio </a>
    </div>
  </main>
</Layout>
