---
import Base from "@/layouts/Base.astro";
import TransactionList from "@/components/TransactionList";
import Selectors from "@/components/Selectors";
import { FormTransactions } from "@/components/Index";
---

<Base title="Gestor de finanzas | DineroGestor">
  <section class="container pt-8 pb-20 min-h-screen flex gap-8 flex-col">
    <Selectors client:load />
    <div
      class="relative flex flex-col shadow-md border-border border rounded-md h-full flex-1 py-8 px-4 lg:flex-row bg-white overflow-hidden"
    >
      <div class="text-black w-full mx-4">
        <div class="flex justify-between">
          <h2 class="text-3xl font-bold text-primary my-4">Transacciones</h2>
          <FormTransactions client:load />
        </div>
        <hr class="text-black w-full h-1" />
        <TransactionList client:load />
      </div>
    </div>
  </section>
</Base>
