---
import Layout from "@/layouts/Base.astro";
import Login from "@/components/Login";
---

<Layout title="Login">
  <!-- <main class="flex justify-center items-center h-screen"></main> -->
  <Login client:load />
  <!-- </main> -->
</Layout>
