---
import Layout from "@/layouts/Simple.astro";
import Testimonial from "@/components/Testimonial/index.astro";
---

<Layout title="Wellcome">
  <div class="flex flex-col items-center justify-center py-5 pl-10 pr-10">
    <h1 class="text-black text-center font-bold text-4xl font-bold">
      ¡Bienvenidos al nuevo mundo financiero!
    </h1>
    <h2 class="text-black text-xl font-medium mt-3.5">
      Bienvenidos a DINERO GESTOR, tu nuevo amigo que te acompañara a mantener
      registro de tus gastos y tu economía.
    </h2>

    <div class="flex justify-center items-center mt-3.5">
      <img src="./src/assets/hero.jpg" alt="" class="h-550px w-825px" />
    </div>
    <main>
      <p class="text-black">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Tempus iaculis urna
        id volutpat lacus laoreet. Aenean et tortor at risus viverra adipiscing
        at in tellus. Sem et tortor consequat id porta nibh. Nunc eget lorem
        dolor sed viverra ipsum nunc aliquet. Elit pellentesque habitant morbi
        tristique senectus et. Suspendisse ultrices gravida dictum fusce. Dui
        accumsan sit amet nulla. Placerat vestibulum lectus mauris ultrices eros
        in cursus turpis massa. Pellentesque elit eget gravida cum sociis
        natoque penatibus et. Aenean sed adipiscing diam donec. Malesuada
        bibendum arcu vitae elementum. Tristique senectus et netus et malesuada
        fames ac. Pretium nibh ipsum consequat nisl vel pretium lectus quam.
      </p>
    </main>

    <section id="mockups" class="flex flex-row gap-28">
      <div class="w-[800px] h-[500px]">
        <img src="./src/assets/mockupApp.png" alt="" />
      </div>

      <div class="w-[800px] h-[500px]">
        <img src="./src/assets/mockupApp.png" alt="" />
      </div>
      <div class="w-[800px] h-[500px]">
        <img src="./src/assets/mockupApp.png" alt="" />
      </div>
    </section>

    <div class="grid w-full sm:grid-cols-1 xl:grid-cols-3 gap-12">
      <Testimonial />
      <Testimonial />
      <Testimonial />
    </div>

    <div id="test-nav-cont" class="flex justify-center mt-8">
      <div id="test-nav" class="">
        <a href="#" class="text-black text-2xl"> &lt; </a>
        <button class="h-5 w-5 rounded-full bg-gray-500 m-1"></button>
        <button class="h-5 w-5 rounded-full bg-gray-300 m-1"></button>
        <button class="h-5 w-5 rounded-full bg-gray-300 m-1"></button>
        <button class="h-5 w-5 rounded-full bg-gray-300 m-1"></button>
        <button class="h-5 w-5 rounded-full bg-gray-300 m-1"></button>
        <button class="h-5 w-5 rounded-full bg-gray-300 m-1"></button>
        <button class="text-black text-2xl"> &gt; </button>
        <div></div>
      </div>
    </div>
  </div></Layout
>
