---
import Layout from "@/layouts/Simple.astro";
---

<Layout title="Wellcome">
  <div class="flex flex-col items-center justify-center py-5 pl-10 pr-10">
    <h1 class="text-black text-center font-bold text-4xl font-bold">
      ¡Bienvenidos al nuevo mundo financiero!
    </h1>
    <h2 class="text-black text-xl font-medium mt-3.5">
      Bienvenidos a DINERO GESTOR, tu nuevo amigo que te acompañara a mantener
      registro de tus gastos y tu economía.
    </h2>

    <div class="flex justify-center items-center mt-3.5">
      <img src="./src/assets/hero.jpg" alt="" class="h-550px w-825px" />
    </div>
    <main>
      <p class="text-black">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Tempus iaculis urna
        id volutpat lacus laoreet. Aenean et tortor at risus viverra adipiscing
        at in tellus. Sem et tortor consequat id porta nibh. Nunc eget lorem
        dolor sed viverra ipsum nunc aliquet. Elit pellentesque habitant morbi
        tristique senectus et. Suspendisse ultrices gravida dictum fusce. Dui
        accumsan sit amet nulla. Placerat vestibulum lectus mauris ultrices eros
        in cursus turpis massa. Pellentesque elit eget gravida cum sociis
        natoque penatibus et. Aenean sed adipiscing diam donec. Malesuada
        bibendum arcu vitae elementum. Tristique senectus et netus et malesuada
        fames ac. Pretium nibh ipsum consequat nisl vel pretium lectus quam.
      </p>
    </main>

    <section id="mockups" class="flex flex-row gap-28">
      <div class="w-[800px] h-[500px]">
        <img src="./src/assets/mockupApp.png" alt="" />
      </div>

      <div class="w-[800px] h-[500px]">
        <img src="./src/assets/mockupApp.png" alt="" />
      </div>
      <div class="w-[800px] h-[500px]">
        <img src="./src/assets/mockupApp.png" alt="" />
      </div>
    </section>

    <section id="testimonial" class="grid grid-cols-3 gap-4">
      <div id="testimonial-container" class="border">
        <div class="flex border" id="box-container">
          <div id="photo-name-rating">
            <div id="photo-name-container" class="flex gap-4">
              <img
                src="./src/assets/testimonial.png"
                alt="testimonial_photo"
                class="relative inline-block h-[58px] w-[58px] !rounded-full object-cover object-center"
              />

              <div>
                <h3 class="text-black block">Leo</h3>
                <p class="text-black">Lorem impsum</p>
              </div>

              <div id="rating" class="flex items-end">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  aria-hidden="true"
                  class="h-5 w-5 text-yellow-700"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>
            </div>
          </div>

          <div id="opinion"></div>
        </div>
      </div>
    </section>
  </div>

  <div>
    <a href="" class="text-black"> ❮ </a>
    <a href="" class="text-black"> * </a>
    <a href="" class="text-black"> * </a>
    <a href="" class="text-black"> * </a>
    <a href="" class="text-black"> * </a>
    <a href="" class="text-black"> * </a>
    <a href="" class="text-black"> ❯ </a>
  </div>
</Layout>
