---
import { FormDashboard } from "@/components/Index";
import Base from "@/layouts/Base.astro";
---

<Base title="Gestor de finanzas | DineroGestor">
  <section class="dark pt-8 pb-4 bg-foreground">
    <div class="px-4 md:px-8">
      <div class="flex flex-col gap-24 w-full lg:grid lg:grid-cols-12 lg:gap-8">
        <FormDashboard client:load />
      </div>
    </div>
  </section>
</Base>
