---
import Layout from "@/layouts/Landing.astro";
---

<Layout title="Gestor de finanzas | DineroGestor">
  <div class="flex flex-col items-center justify-center">
    <section
      class="container min-h-screen grid md:grid-cols-2 place-items-center bg-red gap-4"
    >
      <div class="flex flex-col p-8 gap-2">
        <h1
          class="hero-title text-secondary text-6xl font-bold leading-relaxed"
        >
          Simplifica tus Finanzas
        </h1>
        <p class="text-black-600 text-2xl leading-loose">
          Con <b class="text-secondary">Dinero Gestor</b> puedes administrar tu vida
          financiera de manera simple, controlar tus finanzas de forma fácil y eficiente
          con nuestra herramienta web.
        </p>
        <a
          href="/transactions"
          class="text-white bg-secondary px-8 py-4 rounded-lg font-bold self-start text-2xl mt-8 hover:bg-secondary-900"
        >
          Pruebalo Gratis</a
        >
      </div>
      <div class="flex justify-center items-center">
        <img
          src="/images/hero/hero-image-2.png"
          alt="hero"
          class="rounded-md"
        />
      </div>
    </section>
  </div>
</Layout>
