---
import { Tab } from "@/components/Index";
import Base from "@/layouts/Base.astro";
---

<Base title="Gestor de finanzas | DineroGestor">
  <section class="dark pt-20 pb-4 bg-primary">
    <div class="mx-4">
      <Tab client:load />
    </div>
  </section>
</Base>
