---
import Layout from "@/layouts/Landing.astro";
---

<Layout title="Gestor de finanzas | DineroGestor">
  <section class="min-h-screen">
    <div class="mx-4">Gestiona tus Finanzas de manera simple</div>
  </section>
</Layout>
