---
import { Button } from "@nextui-org/react";

import Base from "@/layouts/Base.astro";
---

<Base title="FIXME">
  <main class="purple-dark mb-4">
    <h1 class="text-secondary">Aplicación de Finanzas Personales</h1>
    <Button color="primary" client:visible>Boton</Button>
  </main>
</Base>
