.tab {
  margin: 0 auto;
  max-width: 800px;
  &__nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    margin-bottom: 0.6rem;
    border-radius: 100px;
    overflow: hidden;
    border: 3px solid hsl(var(--myapp-secondary));

    button {
      padding: 0.4rem 0.8rem;
      background-color: hsl(var(--myapp-foreground));
      font-weight: 600;
      text-transform: uppercase;
      color: hsl(var(--myapp-secondary));
      font-size: 0.8rem;
    }
    //funcionalidad

    & :global(.active) {
      background-color: hsl(var(--myapp-secondary));
      color: hsl(var(--myapp-foreground));
    }
  }

  &__contentContainer {
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.4rem;
    background-color: hsl(var(--myapp-foreground));
    border-radius: 15px;
    color: hsl(var(--myapp-secondary));
    font-size: 1rem;
    font-weight: 600;
    display: none;
    padding: 0.6rem 0.8rem;

    & span:not(:last-child) {
      border-right: 2px solid hsl(var(--myapp-tertiary));
      padding-right: 0.4rem;
    }

    &:global(.active) {
      display: grid;
    }
  }
}
