.tab {
  max-width: 800px;
  width: 100%;
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  margin-bottom: 0.6rem;
  border-radius: 11px;
  overflow: hidden;
  border: 3px solid hsl(var(--myapp-secondary));

  button {
    padding: 0.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color: hsl(var(--myapp-secondary));
    font-size: calc(1rem + 0.3vw);
  }
  //funcionalidad

  & :global(.active) {
    background-color: hsl(var(--myapp-secondary));
    color: hsl(var(--myapp-foreground));
  }
}

.content {
  padding: 0.8rem 0.4rem;
  border-radius: 11px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  color: hsl(var(--myapp-foreground));
  background: linear-gradient(
    to bottom,
    hsl(var(--myapp-secondary-700)),
    hsl(var(--myapp-secondary-900))
  );
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  display: none;

  & span:not(:last-child) {
    border-right: 2px solid hsl(var(--myapp-foreground));
    padding-right: 0.4rem;
  }

  &:global(.active) {
    display: grid;
  }
}
