---

---

<div
  id="testimonial-container"
  class="flex flex-col rounded overflow-hidden shadow-lg pr-8 pl-8 pt-10 pb-10"
>
  <div id="photo-name-rating" class="w-full">
    <div id="photo-name-container" class="flex gap-4">
      <div class="h-[100px] w-[100px]">
        <img
          id="photo"
          src="./src/assets/foto_perfil.jpg"
          alt="testimonial_photo"
          class="relative inline-block h-[100px] w-[100px] !rounded-full object-cover object-center"
        />
      </div>

      <div id="name-job" class="flex flex-col justify-center gap-2 w-[70%]">
        <h3 class="text-black text-3xl block">Leo</h3>
        <div class="flex flex-row justify-between">
          <div><p class="text-black">Programador</p></div>
          <div id="rating" class="flex items-end">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              class="h-5 w-5 text-yellow-700"
            >
              <path
                fill-rule="evenodd"
                d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                clip-rule="evenodd"></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              class="h-5 w-5 text-yellow-700"
            >
              <path
                fill-rule="evenodd"
                d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                clip-rule="evenodd"></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              class="h-5 w-5 text-yellow-700"
            >
              <path
                fill-rule="evenodd"
                d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                clip-rule="evenodd"></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              class="h-5 w-5 text-yellow-700"
            >
              <path
                fill-rule="evenodd"
                d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                clip-rule="evenodd"></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="opinion-container" class="mt-4">
    <div id="summary">
      <div id="opinion">
        <h3 class="text-black text-2xl font-bold">
          Ha sido una gran experiencia
        </h3>

        <p id="opinion-full-text" class="text-black mt-4 text-xl">
          ¡Esta aplicación de gestión de gastos ha cambiado por completo la
          forma en que manejo mi dinero! Desde que empecé a usarla, me siento
          mucho más en control de mis finanzas y consciente de mis hábitos de
          gasto. Lo que más me impresiona es lo fácil que es de usar. La
          interfaz es intuitiva y amigable, lo que hace que sea muy sencillo
          registrar cada transacción y categorizar mis gastos
        </p>
      </div>
    </div>
  </div>
</div>
